/* Write your code here. */
.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  background-size: cover;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #0f172a;
}
h1 p {
  color: #1e293b;
}
.congrats-card {
  background-color: #cffafe;
  padding: 16px;
  text-align: center;
  border-radius:10px;

